@*
	My Connections/Links go here:
		GitHub
		LinkedIn
		Email
*@

<footer>
	<div class="connection-list">
		
		@* GitHub *@
		<div class='connection'>
			<a href="https://github.com/PaulHazelton" target="_blank" class="connection-link">
				<i class="fa-brands fa-github"></i>
			</a>
			<h3 class='connection-label'>Git Hub</h3>
		</div>

		@* LinkedIn *@
		<div class='connection'>
			<a href="https://www.linkedin.com/in/paul-hazelton/" target="_blank" class="connection-link">
				<i class="fa fa-linkedin"></i>
			</a>
			<h3 class='connection-label'>LinkedIn</h3>
		</div>

	</div>
</footer>
@* Email me at <a href='mailto: hazeltonspaul@gmail.com' class='ext-link'>hazeltonspaul@gmail.com</a> *@