@page "/projects/recoil"

<PageTitle>Recoil</PageTitle>

<div class="basic-container">
	<h2>Recoil</h2>

	<p>
		Recoil is a 2D platformer where your character can only move by using the recoil of their gun.
		Recoil is made in C# using the MonoGame framework.
		I am the sole developer, I've done all the programming, game design, art work, sounds effects, and writing.
	</p>

	<img src='images/recoil-square.png' alt='Pixel art tank with 4 barrels' />

	<h3 style="margin-top: 2rem;">Fun Level With Wood Planks</h3>
	<iframe title="Fun Level With Wood Planks" src="https://youtube.com/embed/FZKABch9s_U"></iframe>

	<h3 style="margin-top: 2rem;">First Level Made With Level Editor!</h3>
	<iframe title="First Level Made With Level Editor!" src="https://youtube.com/embed/eDK54YqLFD8"></iframe>
	
	<h3 style="margin-top: 2rem;">Fun Level With Wood Planks</h3>
	<iframe title="Fun Level With Wood Planks" src="https://youtube.com/embed/pg_oTSZ3Dqk"></iframe>
</div>


@* <div class="basic-container">
	<div class='info-box' id='project-box'>
		<div class='project-info'>
			<h2>Recoil</h2>
			<p>
				Recoil is a 2D platformer where your character can only move by using the recoil of their gun.
				Recoil is made in C# using the MonoGame framework.
				I am the sole developer, I've done all the programming, game design, art work, sounds effects, and writing.
			</p>
		</div>
		<div class='project-img-box'>
			<img src='images/recoil-square.png' alt='Pixel art tank with 4 barrels on black background shooting down' />
		</div>
	</div>

</div> *@

<div class="center-pane">
	<h1>I'm still working on this page.</h1>
	<img src="images/construction.png" alt="hammer and wrench icon" />
</div>